<h1>Addons</h1>
<table class="ui striped selectable table">
  <thead>
    <tr>
      <th class="four wide">Name</th>
      <th>Duration</th>
      <th>Max Unit Purchase</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Name">Balcony Cleaning</td>
      <td data-label="Name">15</td>
      <td data-label="Name">5</td>
    </tr>
    <tr>
      <td data-label="Name">Cupboard Cleaning</td>
      <td data-label="Name">45</td>
      <td data-label="Name">5</td>
    </tr>
    <tr>
      <td data-label="Name">Ironing and Folding</td>
      <td data-label="Name">30</td>
      <td data-label="Name">5</td>
    </tr>
    <tr>
      <td data-label="Name">Fridge Cleaning</td>
      <td data-label="Name">45</td>
      <td data-label="Name">5</td>
    </tr>
    <tr>
      <td data-label="Name">Wardrobe Cleaning</td>
      <td data-label="Name">45</td>
      <td data-label="Name">5</td>
    </tr>
  </tbody>
</table>