<h1>Compensator</h1>

<form action="" id="template_form" class="ui mini form">
    <div class="field">
        <label for="Customer Segment">Amount</label>
        <input type="number">
    </div>
    <div class="field">
        <label for="Customer Segment">Select Segment</label>
        <select class="ui fluid dropdown" name="Customer Segment" id="segmentSelect">
            <option value="low_value">Low Value</option>
            <option value="mid_value">Mid Value</option>
            <option value="high_value">High Value</option>
        </select>
    </div>
    <div class="field">
        <label for="Select Action">Select Action</label>
        <select class="ui fluid dropdown" name="Select Action" id="actionSelect">
            <option value="rescheduled">Rescheduled</option>
            <option value="cancelled">Cancelled</option>
        </select>
    </div>
    <div class="field">
        <label for="Customer Segment">Total</label>
        <input type="number" id="totalView">
    </div>
</form>