<h1>Compensator</h1>
1. Select segment
2. Select Status
<form action="" id="template_form" class="ui small form">
    <div class="field">
        <label for="Customer Segment">Select Segment</label>
        <select class="ui fluid dropdown" name="Customer Segment" id="">
            <option value="low_value">Low Value</option>
            <option value="mid_value">Mid Value</option>
            <option value="high_value">High Value</option>
        </select>
    </div>
    <div class="field">
        <label for="Select Action">Select Action</label>
        <select class="ui fluid dropdown" name="Select Action" id="">
            <option value="rescheduled">Rescheduled</option>
            <option value="cancelled">Cancelled</option>
        </select>
    </div>
</form>