<div class="ui stackable two column divided grid" style="margin-top: 4em; position: relative;">
    
    <div class="row">
        <div class="column">
            <div class="ui mini fluid statistic">
                <div class="value" id="dubai-time"></div>
                <div class="label">
                    Dubai
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui mini fluid statistic">
                <div class="value" id="ph-time"></div>
                <div class="label">
                    Philippines
                </div>
            </div>
        </div>
    </div>
</div>