<div class="ui two mini statistics" style="margin-top: 4em">
    <div class="ui  statistic">
        <div class="value" id="dubai-time">
        </div>
        <div class="label">
            Dubai 
        </div>
    </div>
    
    <div class="statistic">
        <div class="value" id="ph-time">
        </div>
        <div class="label">
            Philippines 
        </div>
    </div>
   
</div>
