<h1>NA-req</h1>

<form action="" id="template_form" class="ui small form">
      
  <div class="field">
    <label>Location:</label>
    <textarea id="location_value" rows="3" placeholder="Enter Address"></textarea>
  </div>
  
  <div class="field">
    <label for="service_detail">Service Type</label>
    <textarea id="service_detail" rows="3" placeholder="Enter Service Detail"></textarea>
  </div>


  <div class="inline fields">
    <label>Today?</label>
    <div class="field">
      <div class="ui radio checkbox checked">
        <input type="radio" id="today_yes" name="check_date" checked onchange="checkToday()" tabindex="0" >
        <label>Yes</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" id="today_no" name="check_date"  onchange="checkToday()" tabindex="0" >
        <label>No</label>
      </div>
    </div>
  </div>  

  <div class="inline fields">
    <label >Soonest</label>
    <div class="field">
      <div class="ui radio checkbox checked">
        <input type="radio" id="soonest_yes" name="check_date" checked onchange="checkSoonest()" tabindex="0" >
        <label>Yes</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" id="soonest_no" name="check_date"  onchange="checkSoonest()" tabindex="0" >
        <label>No</label>
      </div>
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      <label>Date</label>
      <div class="ui calendar" id="date_calendar">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Date" id="date_value">
        </div>
      </div>
    </div>
    <div class="field">
      <label>Time</label>
      <div class="ui calendar" id="time_calendar">
        <div class="ui input left icon">
          <i class="time icon"></i>
          <input type="text" placeholder="Time" id="time_value">
        </div>
      </div>
    </div>
  </div>

  <div class="two ui buttons" >
    
    <button
      type="button"
      id="showValueBtn"
      class="ui button"
      onClick="showValues()"
    >
      Format
    </button>
    <button type="button" class="ui button negative" onclick="clearForm()">Clear</button>

  </div>
</form>

<div id="displayReq_value" class="ui message">

</div>

<button class="ui button btn" data-clipboard-target="#displayReq_value">
    <i class="ui icon clipboard"></i>Copy to Clipboard
</button>


<script src="js/requester.js">

</script>