<div class="ui container">
        <div class="ui secondary menu" style="justify-content: center;">
            <div class="header item">
                Customblade
            </div>
        </div>
</div>