<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <!-- Load jQuery First -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  <!-- Load Fomantic UI JS -->
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.js"></script>

  <!-- Load Clipboard JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>

  {# Custom JS #}
  <script src="/assets/js/formValidator.js" ></script>
  <script src="/assets/js/formatter.js" ></script>
  <script src="/assets/js/requester.js" ></script>
  <script src="/assets/js/semantic_init.js" defer></script>
  <script src="/assets/js/clipboard.js" defer></script>



  <!-- Load Fomantic UI CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.css">

  {# Controls Styles #}
  <link rel="stylesheet" href="../../assets/css/controls.css">
  <link rel="stylesheet" href="../../assets/css/formatter.css">
</head>

<body>

  {% include "partials/navbar.njk" %}

  <main class="ui container">
    {{ content | safe }}
  </main>
</body>

</html>