<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <!-- Load jQuery First -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  <!-- Load Fomantic UI CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css">

  <!-- Load Fomantic UI CSS -->
  <link rel="stylesheet" href="css/main.css">

  <!-- Load Fomantic UI JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"></script>

  <!-- Load Clipboard JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>

  <!-- Load Luxon -->
  <script src="https://cdn.jsdelivr.net/npm/luxon@3/build/global/luxon.min.js"></script>


  <script src="js/formatter.js"></script>
  <script src="js/requester.js"></script>
  <script src="js/datetime.js"></script>
  <script src="js/compensator.js"></script>


</head>

<body>

  {% include "navbar.njk" %}

  <main class="ui container">
    {{ content | safe }}
  </main>

  <script>
    let clipboard = new ClipboardJS('.btn');

    clipboard.on('success', function (e) {
      console.info('Action:', e.action);
      console.info('Text:', e.text);
      console.info('Trigger:', e.trigger);

      e.clearSelection();
    });

    clipboard.on('error', function (e) {
      console.error('Action:', e.action);
      console.error('Trigger:', e.trigger);
    });

  </script>
</body>

</html>