---
title: Home
layout: base.njk
---

{# Date Time #}
{# {% include "datetime.njk"%} #}
<div class="mini ui top attached tabular menu" style="margin-top: 4em; background-color: white;">
    <a class="item{% if tab == 'formatter' %} active{% endif %}" data-tab="formatter">Formatter</a>
    <a class="item{% if tab == 'requester' %} active{% endif %}" data-tab="requester">Requester</a>
    <a class="item{% if tab == 'addons' %} active{% endif %}" data-tab="addons">Addons</a>
    <a class="item{% if tab == 'compensator' %} active{% endif %}" data-tab="compensator">Compensator</a>
    <a class="item{% if tab == 'callbacks' %} active{% endif %}" data-tab="callbacks">Callbacks</a>
</div>

<div class="ui bottom attached segment">

    <div class="ui tab active {% if tab == 'formatter' %} active{% endif %}" data-tab="formatter">
        {% include "formatter.njk" %}
    </div>
    <div class="ui tab {% if tab == 'requester'%} active {% endif %}" data-tab="requester">
        {% include "na-req.njk" %}
    </div>
    <div class="ui tab {% if tab == 'addons'%} active {% endif %}" data-tab="addons">
        {% include "addons.njk" %}
    </div>
    <div class="ui tab {% if tab == 'compensator'%} active {% endif %}" data-tab="compensator">
        {% include "compensator.njk" %}
    </div>
    <div class="ui tab {% if tab == 'callbacks'%} active {% endif %}" data-tab="callbacks">
        {% include "callbacks.njk" %}
    </div>


</div>


<script>
    $(document).ready(function () {
        const { DateTime } = luxon;
        $('.ui.dropdown').dropdown();
        $('.menu .item').tab();
        $('#date_calendar').calendar({ type: 'date' });
        $('#time_calendar').calendar({ type: 'time' });
        $('.ui.sticky').sticky();
        document.getElementById("today_yes").checked = true; // Set "Yes" as default
        checkToday(); // Initialize default state
        function updateClocks() {
            const now = DateTime.now();
            const dubaiTime = now.setZone("Asia/Dubai").toFormat("cccc, dd LLL yyyy HH:mm:ss");
            const phTime = now.setZone("Asia/Manila").toFormat("cccc, dd LLL yyyy HH:mm:ss");
            document.getElementById("dubai-time").textContent = dubaiTime;
            document.getElementById("ph-time").textContent = phTime;
        }
        // Sync to the start of the next second
        function startClock() {
            updateClocks();
            const msToNextSecond = 1000 - new Date().getMilliseconds();
            setTimeout(() => {
                updateClocks();
                setInterval(updateClocks, 1000);
            }, msToNextSecond);
        }
        startClock();
    });
</script>