<p class="page-heading">Addons</p>

<table class="ui striped selectable small inverted table">
    <thead>
        <tr>
            <th class="four wide">Name</th>
            <th>Duration (mins)</th>
            <th>Max Units</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Balcony Cleaning</td>
            <td>15</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Cupboard Cleaning</td>
            <td>45</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Ironing and Folding</td>
            <td>30</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Fridge Cleaning</td>
            <td>45</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Wardrobe Cleaning</td>
            <td>45</td>
            <td>5</td>
        </tr>
    </tbody>
</table>