<link rel="stylesheet" href="css/formatter.css">

<h1>Formatter</h1>

<form action="" id="template_form" class="ui mini form">

  {# Full Name Field #}
  <div class="field">
    <label for="full_name">Full Name:</label>
    <input type="text" id="full_name" name="Full Name" />
  </div>

  {# Phone Number Field #}
  <div class="field">
    <label for="phone_number">Phone Number:</label>
    <input type="number" id="phone_number" name="Phone Numberr" />
  </div>

  <div class="field">

    <label for="concern_select">Concern</label>
    <select class="ui fluid dropdown" name="Concern" id="concern_select">
      {# <option value="OMT NA">OMT NA</option>
      <option value="OMT Delay">OMT DELAY</option> #}

      <option value="" disabled selected>Select an option</option>

                <option value="">Select Concern</option>
        {% for item in concern_codes %}
            {% if not item.disabled %}
                <option value="{{ item.label }}">{{ item.label }}</option>
            {% endif %}
        {% endfor %}
    </select>

  </div>

  <div class="mini two ui buttons" id="button_group">

    <button type="button" id="showValueBtn" class="ui button" onClick="showValues()">
      Convert
    </button>
    <button type="button" class="ui button negative" onclick="clearConverterForm()">Clear</button>

  </div>
</form>


<div class="ui basic segments" id="ui_feedback">

  <div class="ui blue segment">
    <p id="display_value">
      Full Name: <br>
      Phone Number: <br>
      Concern:
    </p>
  </div>
</div>

<button class="ui mini primary button btn" data-clipboard-target="#display_value">
  <i class="ui icon clipboard"></i>Copy to Clipboard
</button>