
<div class="ui inverted menu borderless" style="justify-content: center; border-radius: 0; top: 0; position: sticky; z-index: 1;">
    <div class="header item">
        Customblade
    </div>
</div>

