

<h1>VIP Tags</h1>

<form action="" id="template_form" class="ui mini form">
    <div class="field">

        <label for="concern_select">Service</label>
        <select class="ui fluid dropdown" name="Concern" id="concern_select">
            {# <option value="OMT NA">OMT NA</option>
            <option value="OMT Delay">OMT DELAY</option> #}

            <option value="" disabled selected>Select an option</option>

            <option value="">Select Service</option>

            {% for services in vip_tags %}
            <option value="{{ services.name }}">{{ services.name }}</option>
            {% endfor %}
        </select>

    </div>
</form>


<div class="ui basic segments" id="ui_feedback">

    <div class="ui blue segment">
        <p id="display_value">
          
        </p>
    </div>
</div>
